# For the Part 1 - Coding of the assignment, below are the questions along with their answers.

In [1]:
import pandas as pd

df = pd.read_csv("AB_NYC_2019.csv")

1 How many neighborhoods have more than 1000 listings on Airbnb? How many neighborhoods have more than 1000 hosts on Airbnb?

In [2]:
df1=df.groupby('neighbourhood').count()


df2=df1[df1['id']>1000]
print("\n{} neighborhoods have more than 1000 listings on Airbnb\n".format(df2['id'].count()))


df3=df1[df1['host_name']>1000]
print("\n{} neighborhoods have more than 1000 hosts on Airbnb".format(df3['host_name'].count()))

13 neighborhoods have more than 1000 listings on Airbnb


13 neighborhoods have more than 1000 hosts on Airbnb

2 Find the average price of each neighborhood listing with both listing id and host_id greater than 1500?

In [3]:
df1=df[df['id']>1500]

df2=df1[df1['host_id']>1500]

df3=df2.groupby('neighbourhood').sum()/2

print("Average price of each neighbourhood listing with both listing id and host_id greater than 1500 is as follows ")

df3['price']

Average price of each neighbourhood listing with both listing id and host_id greater than 1500 is as follows

neighbourhood
Allerton                        1839.5
Arden Heights                    134.5
Arrochar                        1207.5
Arverne                         6613.5
Astoria                        52734.5
Bath Beach                       695.0
Battery Park City              12864.5
Bay Ridge                      10182.5
Bay Terrace                      426.0
Bay Terrace, Staten Island       102.5
Baychester                       264.0
Bayside                         3080.0
Bayswater                        743.5
Bedford-Stuyvesant            199958.5
Belle Harbor                     686.0
Bellerose                        695.5
Belmont                          925.5
Bensonhurst                     2842.0
Bergen Beach                     533.5
Boerum Hill                    15588.0
Borough Park                    4288.5
Breezy Point                     320.0
Briarwood                       2964.5
Brighton Beach                  4947.5
Bronxdale                        542.5
Brooklyn Heights               16098.0
Brownsville                     2332.0
Bull's Head                      142.0
Bushwick                      104516.5
Cambria Heights                 1062.5
                                ...
Theater District               35714.0
Throgs Neck                     1092.5
Todt Hill                        338.0
Tompkinsville                   1600.0
Tottenville                      507.0
Tremont                          283.5
Tribeca                        43421.5
Two Bridges                     4574.5
Unionport                        480.0
University Heights               730.5
Upper East Side               169864.5
Upper West Side               207860.0
Van Nest                         626.0
Vinegar Hill                    3182.0
Wakefield                       2139.5
Washington Heights             40280.0
West Brighton                    725.0
West Farms                       122.0
West Village                  102790.0
Westchester Square               611.0
Westerleigh                       71.5
Whitestone                       591.5
Williamsbridge                  1935.0
Williamsburg                  281853.5
Willowbrook                      124.5
Windsor Terrace                10911.0
Woodhaven                       2955.5
Woodlawn                         330.5
Woodrow                          350.0
Woodside                        9999.0
Name: price, Length: 221, dtype: float64

3 Find the host name who has the greatest number of listings in New York? For that host, how many listings of “private room” type does this host have?

In [4]:
df1=df[df['calculated_host_listings_count']==df['calculated_host_listings_count'].max()]

hostName=df1['host_name'].iloc[0]

print("Host name with greatest number of listings in New York is {} \n".format(hostName))

df2=df1.groupby('room_type').get_group('Private room')

count_of_listings_of_private_room=df2['id'].count()

print("This host has {} number of listings of \"private room\" type \n".format(count_of_listings_of_private_room))

Host name with greatest number of listings in New York is Sonder (NYC)

This host has 8 number of listings of "private room" type

4 Let’s define popularity of a listing as the total number_of_reviews for that listing. What are the three most popular listing (id and host_id) in each neighborhood group?

In [5]:
df1=df.sort_values(by='number_of_reviews')

df2=df1.iloc[::-1]

df2[['id','host_id','number_of_reviews']].head(3)

            id   host_id  number_of_reviews
11759  9145202  47621202                629
2031    903972   4734398                607
2030    903947   4734398                597